page-list {

	.container {
		max-width: 1000px;
		margin: 0 auto;
	}

	.v2node {
		border: 1px solid $text-color;
		margin: 1em;
		padding: 1em;

		img.avatar {
			max-width: 50px;
			display: inline;
			vertical-align: top;
			margin-right: 0.5em;
		}
	}

	.badge {
		float: right;
	}

}
